# top-most EditorConfig file
root = true

# Default: use UTF-8 and LF line endings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4

# YAML files
[*.yml]
indent_style = space
indent_size = 2

# Makefiles require real tabs
[Makefile]
indent_style = tab

# Markdown (don't trim trailing spaces, needed for MD line breaks)
[*.md]
trim_trailing_whitespace = false
