# Python
__pycache__/
*.pyc

# Django
/staticfiles/

# VS Code
.vscode/*.log

# Docker/Traefik
docker/traefik/acme/acme.json
docker/traefik/dev/certs/*.pem

# env & secrets
.env
.env.*          # .env.dev / .env.prod stay local
docker/traefik/acme/acme.json
